*
{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
caption
{
    color: #993738;
    font-weight: bolder;
    font-size:larger ;
    font-size: 20px;
    margin-bottom: 30px;
}
td
{
    border:2px solid #993738;
    border-spacing: 5px;
}

