*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
#Content
{
    border: 1px solid purple;
    width: 450px;
    height: 80px;
}
#a
{
    width: 150px;
    float: left;
}
#a1
{
    text-align: center;
    font-size:larger;
    font-weight: bolder;
    margin-top: 10px;
    text-shadow:-2px -3px  violet;
}
#a2
{
    direction: rtl;
    margin-top: 15px;
    color:gold;
    font-size:larger;
    font-weight: bolder;
}
#b
{
    width: 150px;
    float: left;   
}
#b1
{
    margin-top: 10px;
    margin-left: 0;
    color: fuchsia;
    font-size:larger;
    font-weight: bolder;
    background-color: bisque;
    width: 100px;
    text-align: center;
}
#b2
{
    margin-top: 10px;
    margin-right: 10px;
    color: red;
    font-size:larger;
    font-weight: bolder;
    background-color: black;
    width: 120px;
    text-align: center;
}
#c
{
    width: 148px;
    float: left;
}
#c1
{
    font-size:larger;
    font-weight: bolder;
    margin-left: 5px;
    margin-top: 10px;
    text-shadow:0px -10px hotpink;
}
#c2
{
    font-size:larger;
    font-weight: bolder;
    margin-top: 10px;
    margin-right:10px ;
    color: aqua;
    background-color: black;
    width: 100px;
    text-align: center;
}
#footer
{
    border: 1px solid ; 
    width: 452px;
    height: 40px;
    background-color: purple;
    color: white;
    text-align: center; 
    font-size:larger;
    font-weight: bolder; 
    padding: 5px; 
}